<div class="disclaimer" dir="rtl"><div>
  <strong>كتاب الانزعاج الجندري هو مستند حي</strong>
  <p>محتويات هذه الصفحة قد يتغير مع مرور الوقت حيث قد يضاف عليها أو تراجع للتعمق أكثر في مسألة الانزعاج الجندري. في نسختها الحالية ينقص الكثير من المحتوى بالأخص المتعلق بالأشخاص الغير ثنائيين واللاجندريين والجندر الثالث. هذا الكتاب هو مشروع مفتوح المصدر ومدعوم بشكل عام؛  <a href="/contributing/"> لذا فالمساهمات مرحب بها بشدة</a>.</p>
</div></div>
