
<a href="/ar/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">كتاب الانزعاج الجندري</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/ar/printable"                class="{{#is meta.url '/ar/printable'               }}active {{/is}}dropdown-item">عرض الجميع</a>
  <hr class="dropdown-divider">
  <a href="/ar/"                         class="{{#is meta.url '/ar/index' '/'               }}active {{/is}}dropdown-item">المقدمة</a>
  <a href="/ar/what-is-gender"           class="{{#is meta.url '/ar/what-is-gender'          }}active {{/is}}dropdown-item">ما هو الجندر؟</a>
  <a href="/ar/history"                  class="{{#is meta.url '/ar/history'                 }}active {{/is}}dropdown-item">تاريخ الانزعاج الجندري</a>
  <a href="/ar/euphoria"                 class="{{#is meta.url '/ar/euphoria'                }}active {{/is}}dropdown-item">البهجة الجندرية</a>
  <a href="/ar/physical-dysphoria"       class="{{#is meta.url '/ar/physical-dysphoria'      }}active {{/is}}dropdown-item">الانزعاج الجسدي</a>
  <a href="/ar/biochemical-dysphoria"    class="{{#is meta.url '/ar/biochemical-dysphoria'   }}active {{/is}}dropdown-item">الانزعاج البيولوجي</a>
  <a href="/ar/social-dysphoria"         class="{{#is meta.url '/ar/social-dysphoria'        }}active {{/is}}dropdown-item">الانزعاج الاجتماعي</a>
  <a href="/ar/societal-dysphoria"       class="{{#is meta.url '/ar/societal-dysphoria'      }}active {{/is}}dropdown-item">الانزعاج المجتمعي</a>
  <a href="/ar/sexual-dysphoria"         class="{{#is meta.url '/ar/sexual-dysphoria'        }}active {{/is}}dropdown-item">الانزعاج الجنسي</a>
  <a href="/ar/presentational-dysphoria" class="{{#is meta.url '/ar/presentational-dysphoria'}}active {{/is}}dropdown-item">الانزعاج المظهري</a>
  <a href="/ar/existential-dysphoria"    class="{{#is meta.url '/ar/existential-dysphoria'   }}active {{/is}}dropdown-item">الانزعاج الوجودي</a>
  <a href="/ar/managed-dysphoria"        class="{{#is meta.url '/ar/managed-dysphoria'       }}active {{/is}}dropdown-item">السيطرة على الانزعاج</a>
  <a href="/ar/impostor-syndrome"        class="{{#is meta.url '/ar/impostor-syndrome'       }}active {{/is}}dropdown-item">متلازمة المحتال</a>
  <a href="/ar/am-i-trans       "        class="{{#is meta.url '/ar/am-i-trans'              }}active {{/is}}dropdown-item">هل أنا عابر/ة؟</a>
  <a href="/ar/diagnoses"                class="{{#is meta.url '/ar/diagnoses'               }}active {{/is}}dropdown-item">التشخيص الطبي</a>
  <a href="/ar/treatment"                class="{{#is meta.url '/ar/treatment'               }}active {{/is}}dropdown-item">معالجة الانزعاج الجندري</a>
  <a href="/ar/causes"                   class="{{#is meta.url '/ar/causes'                  }}active {{/is}}dropdown-item">أسباب الانزعاج الجندري</a>
  <a href="/ar/chromosomes"              class="{{#is meta.url '/ar/chromosomes'             }}active {{/is}}dropdown-item">الكروموسومات</a>
  <a href="/ar/hormones"                 class="{{#is meta.url '/ar/hormones'                }}active {{/is}}dropdown-item">كيف تعمل الهرمونات</a>
  <a href="/ar/second-puberty-masc"      class="{{#is meta.url '/ar/second-puberty-masc'     }}active {{/is}}dropdown-item">أساسيات البلوغ الثاني الأندروجيني</a>
  <a href="/ar/second-puberty-fem"       class="{{#is meta.url '/ar/second-puberty-fem'      }}active {{/is}}dropdown-item">أساسيات البلوغ الثاني الإستروجيني</a>
  <a href="/ar/conclusion"               class="{{#is meta.url '/ar/conclusion'              }}active {{/is}}dropdown-item">خاتمة</a>
</div>
